* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    overflow: hidden;
  }
  
  /* Container com posição relativa para alinhar elementos internos */
  .container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  /* A imagem de fundo se adapta à tela */
  .background-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* DESKTOP */
  @media (min-width: 769px) {
    .background-img {
      content: url('fundo_pagdevendas.png'); /* Imagem de fundo para desktop */
    }
  
    .cta-button {
      top: 90%;
      left: 85%;
      width: 24%;
      height: 11%;
    }
  }
  
  /* CELULAR */
  @media (max-width: 768px) {
    .background-img {
      content: url('images/fundo_pag2.jpeg'); /* Imagem de fundo para celular, dentro da pasta "images" */
      object-fit: contain;
      background-color: black;
    }
  
    .cta-button {
      top: 78%; /* Ajuste conforme necessário */
      left: 50%;
      width: 60%;
      height: 10%;
      font-size: 1.2rem;
    }
  }